<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.summ.nanny.mapper.JNannyStatmentMapper">

    <select id="getNannyStatmentDetail" parameterType="com.summ.nanny.model.request.NannyStatmentDetailReq"
            resultType="com.summ.nanny.model.response.NannyStatmentDetailRes">
        SELECT
        j.*, jgc.service,ja.adminName,
        jdi.INFO AS statmentNannyTypeInfo,
        jdi2.INFO AS reasonInfo,
        jc.customerName,
        js.shopName,
        jch.houseAddress,jni.nannyName,jni.nannyPhone
        FROM
        j_nanny_statment j
        LEFT JOIN j_admin ja ON ja.adminId=j.adminId
        LEFT JOIN j_goods_contract jgc ON jgc.goodsId = j.goodsId
        LEFT JOIN j_customer jc ON jc.customerId = j.customerId
        LEFT JOIN j_customer_house jch ON jch.houseId = j.houseId
        LEFT JOIN j_dict_info jdi ON jdi.ID = j.statmentNannyType
        LEFT JOIN j_dict_info jdi2 ON jdi2.ID = j.reason
        LEFT JOIN j_shop js ON js.shopId = j.shopId
        LEFT JOIN j_nanny_info jni ON jni.nannyId=j.nannyId
        WHERE j.nannyId = #{nannyStatmentDetailReq.nannyId}
        AND j.serviceDate BETWEEN #{nannyStatmentDetailReq.startDate}AND #{nannyStatmentDetailReq.endDate}
        <if test="0 != nannyStatmentDetailReq.shopId">
            AND j.shopId = #{nannyStatmentDetailReq.shopId}
        </if>
        <if test="0 != nannyStatmentDetailReq.statmentNannyType">
            AND j.statmentNannyType = #{nannyStatmentDetailReq.statmentNannyType}
        </if>
        <if test="0 != nannyStatmentDetailReq.reason">
            AND j.reason = #{nannyStatmentDetailReq.reason}
        </if>
        ORDER BY j.serviceDate,j.serviceTime
    </select>

</mapper>
