<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.summ.nanny.mapper.JNannyCertificateMapper">

	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
		nannyCertId, nannyId, photo, certificateId, isDel
	</sql>

	<select id="getNannyCertificateByNannyId" resultType="com.summ.nanny.model.response.NannyCertificateRes">
		SELECT j.nannyCertId,d1.INFO AS certificateIdInfo,j.photo,j.certificateId,j.certificateNumber,j.validDate
		FROM j_nanny_certificate j
		LEFT JOIN j_dict_info d1 ON d1.ID= j.certificateId
		WHERE j.nannyId=#{0}
		and j.isDel=16
	</select>
</mapper>